In [11]:
import pandas as pd
import numpy as np

df = pd.read_excel("/home/ubuntu/Documents/TCOB34/student_information.xlsx")
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,67.0,89.0,63,92.0,2021,2.0
1,80.0,81.0,69,95.0,2020,2.0
2,78.0,94.0,78,90.0,2020,2.0
3,60.0,75.0,60,100.0,2019,2.0
4,71.0,95.0,64,89.0,2021,2.0
5,79.0,77.0,71,93.0,2020,2.0
6,77.0,78.0,78,93.0,2021,2.0
7,NaN,93.0,73,92.0,2019,2.0
8,72.0,92.0,69,82.0,2018,3.0
9,77.0,91.0,68,99.0,2021,2.0
10,64.0,84.0,74,81.0,2019,3.0
11,74.0,94.0,66,85.0,2019,3.0
12,75.0,87.0,77,84.0,2020,3.0
13,80.0,82.0,78,84.0,2018,3.0
14,73.0,76.0,69,NaN,2020,2.0
15,62.0,93.0,68,82.0,2021,3.0
16,60.0,84.0,70,80.0,2021,3.0
17,71.0,79.0,73,86.0,2020,2.0
18,80.0,83.0,77,97.0,2019,2.0
19,77.0,86.0,61,92.0,2018,2.0
20,80.0,78.0,68,76.0,2021,3.0
21,74.0,81.0,68,81.0,2021,3.0
22,77.0,84.0,72,84.0,2018,3.0
23,77.0,84.0,77,76.0,2020,3.0
24,68.0,80.0,74,88.0,2019,2.0
25,73.0,75.0,76,81.0,2020,3.0
26,79.0,NaN,73,81.0,2020,NaN
27,72.0,91.0,72,95.0,2020,2.0
28,70.0,82.0,68,80.0,2018,3.0
29,68.0,89.0,62,83.0,2018,3.0

In [12]:
df.isnull()

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,True,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,True,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,True,False,False,False,True
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False

In [16]:
series = pd.isnull(df["Math_Score"])
df[series]

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
7,NaN,93.0,73,92.0,2019,2.0

In [12]:
df.notnull()

,math score,reading score,writing score,placement score,club join date,placement offer count
0,True,True,True,True,True,True
1,True,True,True,True,True,True
2,True,True,True,True,True,True
3,True,True,True,True,True,True
4,True,True,True,True,True,True
5,True,True,True,True,True,True
6,True,True,True,True,True,True
7,True,True,True,True,True,True
8,True,True,True,True,True,True
9,True,True,True,True,True,True
10,True,True,True,True,True,True
11,True,True,True,True,True,True
12,True,True,True,True,True,True
13,True,True,True,True,True,True
14,True,True,True,True,True,True
15,False,True,True,True,True,True
16,True,True,True,True,True,True
17,True,True,True,True,True,True
18,True,True,True,True,True,True
19,True,True,True,True,True,True
20,True,True,True,True,True,True
21,True,True,True,True,True,True
22,True,True,True,True,True,True
23,True,True,True,True,True,True
24,True,True,True,True,True,True
25,True,True,True,True,True,True
26,True,True,True,True,True,True
27,True,True,True,True,True,True
28,True,True,True,True,True,True

In [17]:
series1 = pd.notnull(df["Math_Score"])
df[series1]

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,67.0,89.0,63,92.0,2021,2.0
1,80.0,81.0,69,95.0,2020,2.0
2,78.0,94.0,78,90.0,2020,2.0
3,60.0,75.0,60,100.0,2019,2.0
4,71.0,95.0,64,89.0,2021,2.0
5,79.0,77.0,71,93.0,2020,2.0
6,77.0,78.0,78,93.0,2021,2.0
8,72.0,92.0,69,82.0,2018,3.0
9,77.0,91.0,68,99.0,2021,2.0
10,64.0,84.0,74,81.0,2019,3.0
11,74.0,94.0,66,85.0,2019,3.0
12,75.0,87.0,77,84.0,2020,3.0
13,80.0,82.0,78,84.0,2018,3.0
14,73.0,76.0,69,NaN,2020,2.0
15,62.0,93.0,68,82.0,2021,3.0
16,60.0,84.0,70,80.0,2021,3.0
17,71.0,79.0,73,86.0,2020,2.0
18,80.0,83.0,77,97.0,2019,2.0
19,77.0,86.0,61,92.0,2018,2.0
20,80.0,78.0,68,76.0,2021,3.0
21,74.0,81.0,68,81.0,2021,3.0
22,77.0,84.0,72,84.0,2018,3.0
23,77.0,84.0,77,76.0,2020,3.0
24,68.0,80.0,74,88.0,2019,2.0
25,73.0,75.0,76,81.0,2020,3.0
26,79.0,NaN,73,81.0,2020,NaN
27,72.0,91.0,72,95.0,2020,2.0
28,70.0,82.0,68,80.0,2018,3.0
29,68.0,89.0,62,83.0,2018,3.0

In [20]:
missing_values = ["NaN", "nan"]
df = pd.read_excel("/home/ubuntu/Documents/TCOB34/student_information.xlsx", na_values = missing_values)
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,67.0,89.0,63,92.0,2021,2.0
1,80.0,81.0,69,95.0,2020,2.0
2,78.0,94.0,78,90.0,2020,2.0
3,60.0,75.0,60,100.0,2019,2.0
4,71.0,95.0,64,89.0,2021,2.0
5,79.0,77.0,71,93.0,2020,2.0
6,77.0,78.0,78,93.0,2021,2.0
7,NaN,93.0,73,92.0,2019,2.0
8,72.0,92.0,69,82.0,2018,3.0
9,77.0,91.0,68,99.0,2021,2.0
10,64.0,84.0,74,81.0,2019,3.0
11,74.0,94.0,66,85.0,2019,3.0
12,75.0,87.0,77,84.0,2020,3.0
13,80.0,82.0,78,84.0,2018,3.0
14,73.0,76.0,69,NaN,2020,2.0
15,62.0,93.0,68,82.0,2021,3.0
16,60.0,84.0,70,80.0,2021,3.0
17,71.0,79.0,73,86.0,2020,2.0
18,80.0,83.0,77,97.0,2019,2.0
19,77.0,86.0,61,92.0,2018,2.0
20,80.0,78.0,68,76.0,2021,3.0
21,74.0,81.0,68,81.0,2021,3.0
22,77.0,84.0,72,84.0,2018,3.0
23,77.0,84.0,77,76.0,2020,3.0
24,68.0,80.0,74,88.0,2019,2.0
25,73.0,75.0,76,81.0,2020,3.0
26,79.0,NaN,73,81.0,2020,NaN
27,72.0,91.0,72,95.0,2020,2.0
28,70.0,82.0,68,80.0,2018,3.0
29,68.0,89.0,62,83.0,2018,3.0

In [21]:
ndf=df
ndf.fillna(0)

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,67.0,89.0,63,92.0,2021,2.0
1,80.0,81.0,69,95.0,2020,2.0
2,78.0,94.0,78,90.0,2020,2.0
3,60.0,75.0,60,100.0,2019,2.0
4,71.0,95.0,64,89.0,2021,2.0
5,79.0,77.0,71,93.0,2020,2.0
6,77.0,78.0,78,93.0,2021,2.0
7,0.0,93.0,73,92.0,2019,2.0
8,72.0,92.0,69,82.0,2018,3.0
9,77.0,91.0,68,99.0,2021,2.0
10,64.0,84.0,74,81.0,2019,3.0
11,74.0,94.0,66,85.0,2019,3.0
12,75.0,87.0,77,84.0,2020,3.0
13,80.0,82.0,78,84.0,2018,3.0
14,73.0,76.0,69,0.0,2020,2.0
15,62.0,93.0,68,82.0,2021,3.0
16,60.0,84.0,70,80.0,2021,3.0
17,71.0,79.0,73,86.0,2020,2.0
18,80.0,83.0,77,97.0,2019,2.0
19,77.0,86.0,61,92.0,2018,2.0
20,80.0,78.0,68,76.0,2021,3.0
21,74.0,81.0,68,81.0,2021,3.0
22,77.0,84.0,72,84.0,2018,3.0
23,77.0,84.0,77,76.0,2020,3.0
24,68.0,80.0,74,88.0,2019,2.0
25,73.0,75.0,76,81.0,2020,3.0
26,79.0,0.0,73,81.0,2020,0.0
27,72.0,91.0,72,95.0,2020,2.0
28,70.0,82.0,68,80.0,2018,3.0
29,68.0,89.0,62,83.0,2018,3.0

In [22]:
m_v=df['Math_Score'].mean()
df['Math_Score'].fillna(value=m_v, inplace=True)
df

/tmp/ipykernel_5798/578764738.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Math_Score'].fillna(value=m_v, inplace=True)

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,67.000000,89.0,63,92.0,2021,2.0
1,80.000000,81.0,69,95.0,2020,2.0
2,78.000000,94.0,78,90.0,2020,2.0
3,60.000000,75.0,60,100.0,2019,2.0
4,71.000000,95.0,64,89.0,2021,2.0
5,79.000000,77.0,71,93.0,2020,2.0
6,77.000000,78.0,78,93.0,2021,2.0
7,72.931034,93.0,73,92.0,2019,2.0
8,72.000000,92.0,69,82.0,2018,3.0
9,77.000000,91.0,68,99.0,2021,2.0
10,64.000000,84.0,74,81.0,2019,3.0
11,74.000000,94.0,66,85.0,2019,3.0
12,75.000000,87.0,77,84.0,2020,3.0
13,80.000000,82.0,78,84.0,2018,3.0
14,73.000000,76.0,69,NaN,2020,2.0
15,62.000000,93.0,68,82.0,2021,3.0
16,60.000000,84.0,70,80.0,2021,3.0
17,71.000000,79.0,73,86.0,2020,2.0
18,80.000000,83.0,77,97.0,2019,2.0
19,77.000000,86.0,61,92.0,2018,2.0
20,80.000000,78.0,68,76.0,2021,3.0
21,74.000000,81.0,68,81.0,2021,3.0
22,77.000000,84.0,72,84.0,2018,3.0
23,77.000000,84.0,77,76.0,2020,3.0
24,68.000000,80.0,74,88.0,2019,2.0
25,73.000000,75.0,76,81.0,2020,3.0
26,79.000000,NaN,73,81.0,2020,NaN
27,72.000000,91.0,72,95.0,2020,2.0
28,70.000000,82.0,68,80.0,2018,3.0
29,68.000000,89.0,62,83.0,2018,3.0

In [23]:
ndf.replace(to_replace = -99, value = "NaN")

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,67.000000,89.0,63,92.0,2021,2.0
1,80.000000,81.0,69,95.0,2020,2.0
2,78.000000,94.0,78,90.0,2020,2.0
3,60.000000,75.0,60,100.0,2019,2.0
4,71.000000,95.0,64,89.0,2021,2.0
5,79.000000,77.0,71,93.0,2020,2.0
6,77.000000,78.0,78,93.0,2021,2.0
7,72.931034,93.0,73,92.0,2019,2.0
8,72.000000,92.0,69,82.0,2018,3.0
9,77.000000,91.0,68,99.0,2021,2.0
10,64.000000,84.0,74,81.0,2019,3.0
11,74.000000,94.0,66,85.0,2019,3.0
12,75.000000,87.0,77,84.0,2020,3.0
13,80.000000,82.0,78,84.0,2018,3.0
14,73.000000,76.0,69,NaN,2020,2.0
15,62.000000,93.0,68,82.0,2021,3.0
16,60.000000,84.0,70,80.0,2021,3.0
17,71.000000,79.0,73,86.0,2020,2.0
18,80.000000,83.0,77,97.0,2019,2.0
19,77.000000,86.0,61,92.0,2018,2.0
20,80.000000,78.0,68,76.0,2021,3.0
21,74.000000,81.0,68,81.0,2021,3.0
22,77.000000,84.0,72,84.0,2018,3.0
23,77.000000,84.0,77,76.0,2020,3.0
24,68.000000,80.0,74,88.0,2019,2.0
25,73.000000,75.0,76,81.0,2020,3.0
26,79.000000,NaN,73,81.0,2020,NaN
27,72.000000,91.0,72,95.0,2020,2.0
28,70.000000,82.0,68,80.0,2018,3.0
29,68.000000,89.0,62,83.0,2018,3.0

In [24]:
ndf.dropna()

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,67.000000,89.0,63,92.0,2021,2.0
1,80.000000,81.0,69,95.0,2020,2.0
2,78.000000,94.0,78,90.0,2020,2.0
3,60.000000,75.0,60,100.0,2019,2.0
4,71.000000,95.0,64,89.0,2021,2.0
5,79.000000,77.0,71,93.0,2020,2.0
6,77.000000,78.0,78,93.0,2021,2.0
7,72.931034,93.0,73,92.0,2019,2.0
8,72.000000,92.0,69,82.0,2018,3.0
9,77.000000,91.0,68,99.0,2021,2.0
10,64.000000,84.0,74,81.0,2019,3.0
11,74.000000,94.0,66,85.0,2019,3.0
12,75.000000,87.0,77,84.0,2020,3.0
13,80.000000,82.0,78,84.0,2018,3.0
15,62.000000,93.0,68,82.0,2021,3.0
16,60.000000,84.0,70,80.0,2021,3.0
17,71.000000,79.0,73,86.0,2020,2.0
18,80.000000,83.0,77,97.0,2019,2.0
19,77.000000,86.0,61,92.0,2018,2.0
20,80.000000,78.0,68,76.0,2021,3.0
21,74.000000,81.0,68,81.0,2021,3.0
22,77.000000,84.0,72,84.0,2018,3.0
23,77.000000,84.0,77,76.0,2020,3.0
24,68.000000,80.0,74,88.0,2019,2.0
25,73.000000,75.0,76,81.0,2020,3.0
27,72.000000,91.0,72,95.0,2020,2.0
28,70.000000,82.0,68,80.0,2018,3.0
29,68.000000,89.0,62,83.0,2018,3.0

In [30]:
df=pd.read_excel("/home/ubuntu/Desktop/TCOB42/Student_Data1.xlsx")
df

,math score,reading score,writing score,placement score,club join date,placement offer count
0,70.0,88,76.0,77,2020.0,2
1,78.0,94,60.0,100,2018.0,3
2,62.0,76,73.0,75,2020.0,2
3,71.0,84,66.0,90,2018.0,3
4,78.0,85,71.0,96,2018.0,3
5,60.0,76,68.0,98,2018.0,3
6,75.0,77,NaN,95,NaN,3
7,70.0,76,60.0,82,2018.0,2
8,55.0,75,88.0,80,2019.0,2
9,79.0,93,72.0,98,2020.0,3
10,73.0,81,77.0,76,2020.0,2
11,64.0,79,77.0,93,2019.0,3
12,77.0,84,67.0,79,2019.0,2
13,73.0,93,62.0,96,2019.0,3
14,78.0,85,70.0,82,2018.0,2
15,NaN,95,61.0,60,2021.0,1
16,68.0,84,75.0,93,2021.0,3
17,66.0,84,80.0,82,2018.0,2
18,66.0,89,60.0,98,2018.0,3
19,70.0,88,67.0,99,2018.0,3
20,78.0,76,71.0,Na,2019.0,1
21,70.0,77,64.0,83,2021.0,2
22,68.0,94,69.0,95,2020.0,3
23,82.0,86,61.0,97,2020.0,3
24,67.0,80,73.0,87,2019.0,3
25,60.0,91,76.0,81,2019.0,2
26,77.0,90,62.0,92,2020.0,3
27,71.0,82,70.0,98,2021.0,3
28,66.0,83,62.0,97,2021.0,3

In [25]:
ndf=df

In [26]:
ndf.dropna(how = 'all')

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,67.000000,89.0,63,92.0,2021,2.0
1,80.000000,81.0,69,95.0,2020,2.0
2,78.000000,94.0,78,90.0,2020,2.0
3,60.000000,75.0,60,100.0,2019,2.0
4,71.000000,95.0,64,89.0,2021,2.0
5,79.000000,77.0,71,93.0,2020,2.0
6,77.000000,78.0,78,93.0,2021,2.0
7,72.931034,93.0,73,92.0,2019,2.0
8,72.000000,92.0,69,82.0,2018,3.0
9,77.000000,91.0,68,99.0,2021,2.0
10,64.000000,84.0,74,81.0,2019,3.0
11,74.000000,94.0,66,85.0,2019,3.0
12,75.000000,87.0,77,84.0,2020,3.0
13,80.000000,82.0,78,84.0,2018,3.0
14,73.000000,76.0,69,NaN,2020,2.0
15,62.000000,93.0,68,82.0,2021,3.0
16,60.000000,84.0,70,80.0,2021,3.0
17,71.000000,79.0,73,86.0,2020,2.0
18,80.000000,83.0,77,97.0,2019,2.0
19,77.000000,86.0,61,92.0,2018,2.0
20,80.000000,78.0,68,76.0,2021,3.0
21,74.000000,81.0,68,81.0,2021,3.0
22,77.000000,84.0,72,84.0,2018,3.0
23,77.000000,84.0,77,76.0,2020,3.0
24,68.000000,80.0,74,88.0,2019,2.0
25,73.000000,75.0,76,81.0,2020,3.0
26,79.000000,NaN,73,81.0,2020,NaN
27,72.000000,91.0,72,95.0,2020,2.0
28,70.000000,82.0,68,80.0,2018,3.0
29,68.000000,89.0,62,83.0,2018,3.0

In [33]:
ndf.dropna(axis = 1)

    reading score placement score  placement offer count
0              88              77                      2
1              94             100                      3
2              76              75                      2
3              84              90                      3
4              85              96                      3
5              76              98                      3
6              77              95                      3
7              76              82                      2
8              75              80                      2
9              93              98                      3
10             81              76                      2
11             79              93                      3
12             84              79                      2
13             93              96                      3
14             85              82                      2
15             95              60                      1
16             84              93                      3
17             84              82                      2
18             89              98                      3
19             88              99                      3
20             76              Na                      1
21             77              83                      2
22             94              95                      3
23             86              97                      3
24             80              87                      3
25             91              81                      2
26             90              92                      3
27             82              98                      3
28             83              97                      3

In [27]:
new_data = ndf.dropna(axis = 0, how ='any')
new_data

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count
0,67.000000,89.0,63,92.0,2021,2.0
1,80.000000,81.0,69,95.0,2020,2.0
2,78.000000,94.0,78,90.0,2020,2.0
3,60.000000,75.0,60,100.0,2019,2.0
4,71.000000,95.0,64,89.0,2021,2.0
5,79.000000,77.0,71,93.0,2020,2.0
6,77.000000,78.0,78,93.0,2021,2.0
7,72.931034,93.0,73,92.0,2019,2.0
8,72.000000,92.0,69,82.0,2018,3.0
9,77.000000,91.0,68,99.0,2021,2.0
10,64.000000,84.0,74,81.0,2019,3.0
11,74.000000,94.0,66,85.0,2019,3.0
12,75.000000,87.0,77,84.0,2020,3.0
13,80.000000,82.0,78,84.0,2018,3.0
15,62.000000,93.0,68,82.0,2021,3.0
16,60.000000,84.0,70,80.0,2021,3.0
17,71.000000,79.0,73,86.0,2020,2.0
18,80.000000,83.0,77,97.0,2019,2.0
19,77.000000,86.0,61,92.0,2018,2.0
20,80.000000,78.0,68,76.0,2021,3.0
21,74.000000,81.0,68,81.0,2021,3.0
22,77.000000,84.0,72,84.0,2018,3.0
23,77.000000,84.0,77,76.0,2020,3.0
24,68.000000,80.0,74,88.0,2019,2.0
25,73.000000,75.0,76,81.0,2020,3.0
27,72.000000,91.0,72,95.0,2020,2.0
28,70.000000,82.0,68,80.0,2018,3.0
29,68.000000,89.0,62,83.0,2018,3.0